<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div id="content">
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == "error" %}
				<p class="alert alert-danger" style="margin-bottom:0px;"> {{message}} </p>
			{% elif message.tags == "success" %}
				<p class="alert alert-success" style="margin-bottom:0px;"> {{message}} </p>
			{% elif message.tags == "info" %}
				<p class="alert alert-info" style="margin-bottom:0px;"> {{message}} </p>
			{% elif message.tags == "warning" %}
				<p class="alert alert-warning" style="margin-bottom:0px;"> {{message}} </p>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
<div class="text-center jumbotron" style="background: #483D8B; color:white;">
	<div class="container-fluid">
		<a href="{% url 'login' %}" style="color:white;"><h2> <strong> saynomore <strong> </h2></a>
	</div>
</div>
<div class="text-center form-group">
<div>
<form action="{% url 'create-user' %}" method="post">
	    {% for field in form %}
	    <br>
	        {% if field.errors %}
	            <div class="form-group has-error">
	                <label class="control-label" for="id_{{ field.name }}">
	                {{ field.label }}</label>
	                <div class="">
	                    {{ field }}
	                    <span class="help-block">
	                        {% for error in  field.errors %}{{ error }}{% endfor %}
	                    </span>
	                </div>
	            </div>
	        {% else %}
	            <div class="form-group">
	                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
	                <div class="">
	                    {{ field }}
	                    {% if field.help_text %}
	                        <p class="help-block"><small>{{ field.help_text }}</small></p>
	                    {% endif %}
	                </div>
	            </div>
	        {% endif %}
	        <br>
	    {% endfor %}
	<div class="form-group text-center">
	        <div class="">
	        	<br>
	            <button type="submit" class="btn btn-primary" value="Create User">Sign Up</button>
	        </div>
	    </div>
</form>
</div>
</div>

