<h1> Hair {{resp.id}} </h1>
{% for key, value in resp.items %}
	<div>
		{%if key != 'id' %}
			{% if key == 'author' %}
				author: {{value.f_name}} {{value.l_name}}
			{% elif key == 'stylist' %}
				stylist: {{value.user.f_name}} {{value.user.l_name}}
			{% else %}
				{{key}} : {{value}}
			{% endif %}
		{% endif %}
	</div>
{% endfor %}
<br>
<form action="http://localhost:8000">
    <input type="submit" value="Back" />
</form>

<!-- {"hair_phone_number": "7771110000", "hair_upvotes": 2, "location": "Kentucky", "stylist": "Robby McJimbers", "id": 1, "price": "18.77"} -->