{% extends "base.html" %}

{% block content %}

<div class="text-center jumbotron" style="background: #483D8B;">
	<div class="container-fluid">
		<h3 style="color:white;"> Looking for a new haircut? <b> saynomore </b> </h3>
		<p><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:#938CC5; text-align:center; border-color:#483E85;">Learn more</a></p>
	</div>
</div>
<div class="page-header" style="background: #eee; margin-top:-40px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1 style=""> Browse Hairstyles </h1>
			</div>
			<div class="col-sm-6" style="margin-top:15px;">
				<p><a id="create_hair" class="btn btn-primary btn-lg pull-right" href="{% url 'create-hair' %}" role="button" style="background-color:#938CC5; text-align:center; border-color:#483E85; display:inline-block;">Create Hair</a></p>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="container-fluid">
		<div class="row">
			
				<form method="POST" action='{% url "search-hairstyle" %}'>
					<input type="text" class="form-control" name="hairstyle_search" placeholder="Search for hairstyles...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"> Search </button>
					</span>
					</form>
		</div>
	</div>
</div>

<br>
<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
	{% for key, list in respHair.items %}
		{% for hairs in list %}
			<div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <!-- <img src="..." alt="..."> -->
			      <div class="caption">
			        <div>
						<a href="{% url 'hair-detail' hairs.id %}"><h3> {{hairs.name}} </h3></a>
						Stylist: {{hairs.stylist}} {{hairs.stylist.}} <br>
						Price: {{hairs.price}} <br>
						Number of Upvotes: {{hairs.hair_upvotes}}
					</div>
			        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
			      </div>
			    </div>
			</div>
		{% endfor %}
	{% endfor %}
</div>

<br>


<div class="page-header" style="background: #eee;">
	<div class="container-fluid">
		<h1 style=""> Browse Stylists </h1>
	</div>
</div>

<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="input-group">
					<form method="GET">
					<input type="text" class="form-control" name = "stylist_search" placeholder="Search for stylists...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"> Search </button>
					</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
	{% for key, list in respStylists.items %}
		{% for stylists in list %}
			<div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <!-- <img src="..." alt="..."> -->
					      <div class="caption">
					        <div>
								<a href="{% url 'stylist-detail' stylists.id %}"><h3> {{stylists.user.f_name}} {{stylists.user.l_name}} </h3></a>
								Years Experience: {{stylists.years_experience}} <br>
								Location: {{stylists.location}} <br>
							</div>
					        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
					      </div>
					    </div>
					</div>
		{% endfor %}
	{% endfor %}
</div>

{% endblock %}

<!-- {"all_hairs": [{"id": 1, "stylist": "Robby McJimbers", "hair_phone_number": "7771110000", "price": "18.77", "location": "Kentucky", "hair_upvotes": 2}, {"id": 2, "stylist": "Clark McHarrington", "hair_phone_number": "1119990000", "price": "7.99", "location": "Virginia", "hair_upvotes": 1}]} -->