<h1> SAYNOMORE </h1>
<h3> Hairs </h3>
<input type="submit" value="Search" style="float:right"/>
<div style="overflow:hidden; padding-right: .5em">
	<input type="text" style="width:100%"/>
</div>
{% for key, list in respHair.items %}
	{% for hairs in list %}
		<div>
			<a href="/hair/{{hairs.id}}/"><h3> {{hairs.name}} </h3></a>
			Stylist: {{hairs.stylist.user.f_name}} {{hairs.stylist.user.l_name}} <br>
			Price: {{hairs.price}} <br>
			Number of Upvotes: {{hairs.hair_upvotes}}
		</div>
	{% endfor %}
{% endfor %}
<br>
<h3> Stylists </h3>
<input type="submit" value="Search" style="float:right"/>
<div style="overflow:hidden; padding-right: .5em">
	<input type="text" style="width:100%"/>
</div>
{% for key, list in respStylists.items %}
	{% for stylists in list %}
		<div>
			<a href="/stylist/{{stylists.id}}/"><h3> {{stylists.user.f_name}} {{stylists.user.l_name}} </h3></a>
			Years Experience: {{stylists.years_experience}} <br>
			Location: {{stylists.location}} <br>
		</div>
	{% endfor %}
{% endfor %}

<!-- {"all_hairs": [{"id": 1, "stylist": "Robby McJimbers", "hair_phone_number": "7771110000", "price": "18.77", "location": "Kentucky", "hair_upvotes": 2}, {"id": 2, "stylist": "Clark McHarrington", "hair_phone_number": "1119990000", "price": "7.99", "location": "Virginia", "hair_upvotes": 1}]} -->